USE [master]
GO
/****** Object:  Database [QuanLyBanSach]    Script Date: 06/13/2019 9:24:24 AM ******/
CREATE DATABASE [QuanLyBanSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyBanSach.mdf' , SIZE = 38912KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBanSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyBanSach_log.ldf' , SIZE = 43264KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanSach]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 06/13/2019 9:24:24 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_D7B6F58EE5924BD1883258517864F563]    Script Date: 06/13/2019 9:24:24 AM ******/
CREATE ROLE [MSmerge_D7B6F58EE5924BD1883258517864F563]
GO
/****** Object:  DatabaseRole [MSmerge_AD5F9F365B5849B3ACDB2BEFA83F03C5]    Script Date: 06/13/2019 9:24:24 AM ******/
CREATE ROLE [MSmerge_AD5F9F365B5849B3ACDB2BEFA83F03C5]
GO
/****** Object:  DatabaseRole [MSmerge_A5C81CC4585946488311FE100D3A25BE]    Script Date: 06/13/2019 9:24:24 AM ******/
CREATE ROLE [MSmerge_A5C81CC4585946488311FE100D3A25BE]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D7B6F58EE5924BD1883258517864F563]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_AD5F9F365B5849B3ACDB2BEFA83F03C5]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_A5C81CC4585946488311FE100D3A25BE]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[author]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[author](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_author] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[book]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[book](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[type_id] [bigint] NOT NULL,
	[author_id] [bigint] NOT NULL,
	[publisher_id] [bigint] NOT NULL,
	[image] [text] NULL,
	[description] [text] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[customer]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customer](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [varchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [nvarchar](150) NOT NULL,
	[created_date] [timestamp] NULL,
	[created_by] [varchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[customer_id] [bigint] NULL,
	[status] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[created_by] [bigint] NULL,
	[sale_type] [int] NOT NULL,
	[site_id] [bigint] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[order_code] [varchar](50) NOT NULL,
	[book_id] [bigint] NOT NULL,
	[quantity] [bigint] NOT NULL,
	[price] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_order_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[publisher]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[publisher](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_publisher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[role]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ship_info]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ship_info](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [varchar](150) NULL,
	[description] [nvarchar](max) NULL,
	[send_date] [date] NULL,
	[recived_date] [date] NULL,
	[customer_id] [bigint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ship_info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[site]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[site](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NULL,
	[location] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_site] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[site_book]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[site_book](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[book_id] [bigint] NOT NULL,
	[site_id] [bigint] NOT NULL,
	[quantity] [bigint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_site_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[type]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[type](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 06/13/2019 9:24:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[code] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[site_id] [bigint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [MSmerge_index_677577452]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_677577452] ON [dbo].[author]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1635588965]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1635588965] ON [dbo].[book]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_290100074]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_290100074] ON [dbo].[customer]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_order]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_order] ON [dbo].[order]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_530100929]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_530100929] ON [dbo].[order]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1989582126]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1989582126] ON [dbo].[order_detail]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_709577566]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[publisher]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1205579333]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1205579333] ON [dbo].[role]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_338100245]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_338100245] ON [dbo].[ship_info]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1253579504]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1253579504] ON [dbo].[site]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_210099789]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_210099789] ON [dbo].[site_book]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_613577224]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_613577224] ON [dbo].[type]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_325576198]    Script Date: 06/13/2019 9:24:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_325576198] ON [dbo].[user]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[author] ADD  CONSTRAINT [MSmerge_df_rowguid_78E00F1C8EA7492FA4C5FB031B8ED873]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[book] ADD  CONSTRAINT [MSmerge_df_rowguid_011506359B13427AA2D9A69F5262D58B]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[customer] ADD  CONSTRAINT [MSmerge_df_rowguid_B75BBA2D13514D70A8DFE26A973EEE55]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [MSmerge_df_rowguid_3574B2F7114640A7A750C8B087265DC4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[order_detail] ADD  CONSTRAINT [MSmerge_df_rowguid_38EE5D063BEC49A5AFCA25A01E6486B4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[publisher] ADD  CONSTRAINT [MSmerge_df_rowguid_41D8FDB9F35448F0B48FB32FCCF4574A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [MSmerge_df_rowguid_5533931905244480B3B9B55AFF694251]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[ship_info] ADD  CONSTRAINT [MSmerge_df_rowguid_D1FCED32C1C74B728C701F0E6371A749]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[site] ADD  CONSTRAINT [MSmerge_df_rowguid_8CAE0219BD104C7B93873E766F3D28E4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[site_book] ADD  CONSTRAINT [MSmerge_df_rowguid_8CA610D4172541A49CBFD205971E018D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[type] ADD  CONSTRAINT [MSmerge_df_rowguid_251108ED132C4849A403E727DFD08318]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [MSmerge_df_rowguid_847BBD8DE83E4447937E51B881D155CD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_order_detail_book]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_order] FOREIGN KEY([order_code])
REFERENCES [dbo].[order] ([code])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_order_detail_order]
GO
ALTER TABLE [dbo].[ship_info]  WITH CHECK ADD  CONSTRAINT [FK_ship_info_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[ship_info] CHECK CONSTRAINT [FK_ship_info_customer]
GO
ALTER TABLE [dbo].[site_book]  WITH CHECK ADD  CONSTRAINT [FK_site_book_site] FOREIGN KEY([site_id])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[site_book] CHECK CONSTRAINT [FK_site_book_site]
GO
ALTER TABLE [dbo].[site_book]  WITH CHECK ADD  CONSTRAINT [FK_site_book_site_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[site_book] CHECK CONSTRAINT [FK_site_book_site_book]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_role]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_site] FOREIGN KEY([site_id])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_site]
GO
ALTER TABLE [dbo].[author]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_666B6B09_E090_481A_90E0_B18137401FE3] CHECK NOT FOR REPLICATION (([id]>(9) AND [id]<=(10009) OR [id]>(10009) AND [id]<=(20009)))
GO
ALTER TABLE [dbo].[author] CHECK CONSTRAINT [repl_identity_range_666B6B09_E090_481A_90E0_B18137401FE3]
GO
ALTER TABLE [dbo].[book]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_02B0175C_9A41_43DB_A8CC_F49E3F4AD759] CHECK NOT FOR REPLICATION (([id]>(37) AND [id]<=(10037) OR [id]>(10037) AND [id]<=(20037)))
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [repl_identity_range_02B0175C_9A41_43DB_A8CC_F49E3F4AD759]
GO
ALTER TABLE [dbo].[customer]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_A19F7175_7275_4D40_B356_04E96FACA5CE] CHECK NOT FOR REPLICATION (([id]>(3) AND [id]<=(10003) OR [id]>(10003) AND [id]<=(20003)))
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [repl_identity_range_A19F7175_7275_4D40_B356_04E96FACA5CE]
GO
ALTER TABLE [dbo].[order]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_724723D5_64C5_43EF_A056_696500906254] CHECK NOT FOR REPLICATION (([id]>(11) AND [id]<=(10011) OR [id]>(10011) AND [id]<=(20011)))
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [repl_identity_range_724723D5_64C5_43EF_A056_696500906254]
GO
ALTER TABLE [dbo].[order_detail]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_6B166A43_2892_4A89_A593_283D14FD97DF] CHECK NOT FOR REPLICATION (([id]>(9) AND [id]<=(10009) OR [id]>(10009) AND [id]<=(20009)))
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [repl_identity_range_6B166A43_2892_4A89_A593_283D14FD97DF]
GO
ALTER TABLE [dbo].[publisher]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_A42D7AC3_7E68_442B_A9F0_C3E38C3C0A6C] CHECK NOT FOR REPLICATION (([id]>(13) AND [id]<=(10013) OR [id]>(10013) AND [id]<=(20013)))
GO
ALTER TABLE [dbo].[publisher] CHECK CONSTRAINT [repl_identity_range_A42D7AC3_7E68_442B_A9F0_C3E38C3C0A6C]
GO
ALTER TABLE [dbo].[role]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_F7EDAFD8_C4C8_41D8_B6FC_5184F8DD1946] CHECK NOT FOR REPLICATION (([id]>(3) AND [id]<=(10003) OR [id]>(10003) AND [id]<=(20003)))
GO
ALTER TABLE [dbo].[role] CHECK CONSTRAINT [repl_identity_range_F7EDAFD8_C4C8_41D8_B6FC_5184F8DD1946]
GO
ALTER TABLE [dbo].[ship_info]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_72CDEF20_F216_4D2F_A890_E0FFC676F609] CHECK NOT FOR REPLICATION (([id]>(1) AND [id]<=(10001) OR [id]>(10001) AND [id]<=(20001)))
GO
ALTER TABLE [dbo].[ship_info] CHECK CONSTRAINT [repl_identity_range_72CDEF20_F216_4D2F_A890_E0FFC676F609]
GO
ALTER TABLE [dbo].[site]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_8B3CED6A_3D02_45E6_9ED7_BF0CD279EB7B] CHECK NOT FOR REPLICATION (([id]>(3) AND [id]<=(10003) OR [id]>(10003) AND [id]<=(20003)))
GO
ALTER TABLE [dbo].[site] CHECK CONSTRAINT [repl_identity_range_8B3CED6A_3D02_45E6_9ED7_BF0CD279EB7B]
GO
ALTER TABLE [dbo].[site_book]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_BAD82AD6_7AE0_430F_A0A6_2ABB792C6EE5] CHECK NOT FOR REPLICATION (([id]>(59) AND [id]<=(10059) OR [id]>(10059) AND [id]<=(20059)))
GO
ALTER TABLE [dbo].[site_book] CHECK CONSTRAINT [repl_identity_range_BAD82AD6_7AE0_430F_A0A6_2ABB792C6EE5]
GO
ALTER TABLE [dbo].[type]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_D60A1D3C_0178_4DD8_88AA_764388F94406] CHECK NOT FOR REPLICATION (([id]>(13) AND [id]<=(10013) OR [id]>(10013) AND [id]<=(20013)))
GO
ALTER TABLE [dbo].[type] CHECK CONSTRAINT [repl_identity_range_D60A1D3C_0178_4DD8_88AA_764388F94406]
GO
ALTER TABLE [dbo].[user]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_CB1D8CF3_E48C_4B3A_B936_7EB2A6B3716C] CHECK NOT FOR REPLICATION (([id]>(9) AND [id]<=(10009) OR [id]>(10009) AND [id]<=(20009)))
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [repl_identity_range_CB1D8CF3_E48C_4B3A_B936_7EB2A6B3716C]
GO
USE [master]
GO
