.price-box {
	font-size: 1.075em;
}
body{
	font-family: Roboto,Helvetica,Arial,sans-serif;
}
.margin0{
    margin-top: 0 !important;
}
.p-name{
	text-overflow: ellipsis;
	letter-spacing: .1px;
    width: 100%;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    color: #242424;
    max-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cart__total{
    margin-right: 20px;
}
.cart .dropdown-menu.slide-from-top .cart__item__info__title{
    max-width: 400px;
}
.cart .dropdown-menu.slide-from-top .cart__item__info__qty{
    right: 520px;
}
.shopping-cart-table td {
    padding: 30px 0;
}
.shopping-cart-table__product-price{
    font-size: 20px;
}
.shopping-cart-table td:nth-child(4), .shopping-cart-table th:nth-child(4) {
    width: 16%;
}
.shopping-cart-table td:nth-child(5), .shopping-cart-table th:nth-child(5) {
    width: 13%;
}
i.cvc-hint-icon {
    background: url(../images/cvv-hint.png) no-repeat;
    background-size: 100%;
    width: 83px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
}
.credit-card-guide {
    display: block;
    background: url(../images/card-guide.png) no-repeat;
    background-size: 100%;
    width: 225px;
    height: 152px;
    margin-right: 5px;
}
.card-credit {
    display: inline-block;
    padding-left: 48px;
    height: 25px;
    background: url(../images/card-credits.png) no-repeat;
    vertical-align: middle;
    padding-top: 5px;
    opacity: 1;
}
.card-visa {
    background-position: 0 -50px;
}
.card-mastercard {
    background-position: 0 -25px;
}
.card-jcb {
    background-position: 0 -75px;
}
.card-credit-list{
    margin-left: 10px;
}
.card--padding {
    padding: 20px 30px 25px 30px;
    margin-bottom: 10px;
}
/*//*/
.panel.panel-default .panel-body {
    padding: 10px 15px 0;
}
 .panel-cart .cart {
    font-size: 12px;
    margin-bottom: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    margin-top: 0px;
}
.panel-cart .order {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 10px;
}
.panel-cart .order .title {
    font-size: 13px;
    line-height: 31px;
}
.panel-cart .order .btn-custom1 {
    float: right;
}
.panel-cart .btn-custom1 {
    border: 1px solid #ccc;
    font-size: 12px;
    padding-left: 14px;
    padding-right: 14px;
    height: 31px;
    outline-color: #ccc;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f7f7f7));
    background: linear-gradient(#fff,#f7f7f7);
    border-radius: 2px;
}
.panel-cart .cart .product {
    margin-bottom: 15px;
    text-align: left;
    padding-bottom: 0;
}
.panel-cart .cart .product .item {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #c9c9c9;
    font-size: 11px;
    overflow: hidden;
}
.panel-cart .cart .product .item .title {
    width: 170px;
}
.panel-cart .cart .product .item .title strong {
    padding-right: 10px;
}
.panel-cart .cart .product .item .title a{
    color: #007ff0;
}
.panel-cart .cart .product .item .title {
    color: #000;
    float: left;
    width: 170px;
    margin-bottom: 0;
}
.panel-cart .cart p .seller-by {
    display: block;
    float: none;
    margin-top: 5px;
}
.panel-cart .cart .product .item .title strong {
    padding-right: 10px;
}
.panel-cart .cart p {
    margin: 0;
    margin-bottom: 13px;
}
.panel-cart .cart p span {
    float: right;
}
.panel-cart .cart .product .item .price {
    float: right;
    margin-bottom: 0;
}
.panel-cart .cart .total2 {
    border-top: 2px solid #c9c9c9;
    padding-top: 12px;
    margin-bottom: 0;
    line-height: 19px;
    font-weight: 700;
}
.panel-cart .cart .total2 span {

    font-size: 19px;
    font-weight: 400;
}
.panel-cart .cart .information h6 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}
.panel-cart .cart .information p {
    font-size: 13px;
        color: #333;
}
.an-hien{
    display: none;
}